@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.section-center {
  max-width: 1280px;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}
